<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page-title %} {% endblock %}</title>

    <!-- CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

    <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'assets/scss/argon.scss' %}" type="text/scss">

    

</head>
<body>
    

    {% block content %}
    
    {% endblock %}


    <!-- JS -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script> 

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script> 

    <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script> 

    <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script> 

    <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script> 

    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script> 

    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script> 

    <script src="{% static 'assets/js/argon.js' %}"></script> 

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>