{% extends 'blog/base.html' %}

{% block page-title %} Sign Up {% endblock %}</title>

{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div>


<!-- Page content -->
    <div class="container mt--7 pb-3">
      <!-- Table -->
      <div class="row justify-content-center" style="margin-top: 150px;"> 
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-0">
              <div class="text-muted text-center mt-0 mb-0"><p style="font-size: larger;">Sign Up</p></div>
              <div class="text-center">
                <!-- <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="{% static 'assets/img/icons/common/github.svg' %}"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="{% static 'assets/img/icons/common/google.svg' %}"></span>                  
                  <span class="btn-inner--text">Google</span>
                </a> -->
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <!-- <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div> -->
              <form role="form" method="post" action="{% url 'user:signup' %}">
                 {% csrf_token %}

                <!-- Validate Form Content -->
                {% if password_mismatch %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ password_mismatch }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}


                {% if invalid_length %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ invalid_length }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}


                {% if fname_first_char_digit %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ fname_first_char_digit }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}


                {% if lname_first_char_digit %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ lname_first_char_digit }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}

                {% if username_exists %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ username_exists }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}

                {% if email_exists %}
                   
                    <!-- <span class="alert-inner--icon"><i class="fal fa-window-close"></i></span> -->
                    <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="alert" aria-label="Close">
                        {{ email_exists }} <span aria-hidden="true"><i class="fas fa-exclamation-circle"></i></i></span>
                    </button><br>

                {% endif %}


                <!-- End Validate Form Content -->


                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" name="username" placeholder="username" type="text" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" name="email" placeholder="email" type="email" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input class="form-control" name="first_name" placeholder="first_name" type="text" required>
                    </div>
                  </div>

                 <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input class="form-control" name="last_name" placeholder="last_name" type="text" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                      </div>
                      <input class="form-control" name="password" placeholder="password" type="password" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                      </div>
                      <input class="form-control" name="password2" placeholder="retype password" type="password" required>
                    </div>
                  </div>
                  
                  <!-- <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div> -->
                  <!-- <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Sign Up</button>
                  </div>
                
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
